# About this notebook

This notebook aims to explore the Water Efficient Dataset For African Countries, and perform some basic data analysis and visualization.

### 0. Imports

In [1]:
import pandas as pd
import numpy as np

### 1. Data loading

In [2]:
raw_df = pd.read_csv("../data/Africa_countries_WUE_data.csv")
raw_df.head()

,Unnamed: 0,timestamp,city,temperature,precipitation,wind_speed,humidity,country,wetbulb_temperature,climate_region,...,Oil consumption - TWh,Total renewables - TWh,Total fossil fuels - TWh,Total energy - TWh,Low carbon - TWh,Other - TWh,WUE_FixedApproachDirect(L/KWh),WUE_FixedColdWaterDirect(L/KWh),WUE_Indirect(L/KWh),Leakages (%)
0,0,2022-08-20 00:00:00,Yaoundé,19.7,0.0,6.8,98,Cameroon,67.032045,Desert,...,0.0,86395.301188,52246.960798,138642.261986,86395.301188,0.0,1.666913,1.344436,4.070095,0.5250
1,158112,2022-08-20 00:00:00,Nouakchott,26.2,0.9,12.6,81,Mauritania,74.523261,Steppe,...,0.0,3585.575741,8366.343396,13287.721864,3585.575741,0.0,1.697710,1.513311,3.237921,0.3972
2,149328,2022-08-20 00:00:00,Barentu,25.1,0.0,12.6,73,Eritrea,70.618841,Steppe,...,0.0,99.599326,3685.175067,3784.774393,99.599326,0.0,1.684314,1.418134,3.788000,0.3972
3,140544,2022-08-20 00:00:00,Mendefera,16.5,0.4,11.9,82,Eritrea,57.920598,Steppe,...,0.0,99.599326,3685.175067,3784.774393,99.599326,0.0,1.600773,1.216367,3.788000,0.3972
4,131760,2022-08-20 00:00:00,Assab,32.0,0.0,14.5,62,Eritrea,79.044228,Steppe,...,0.0,99.599326,3685.175067,3784.774393,99.599326,0.0,1.706000,1.642989,3.788000,0.3972

### 2. Dataset Overview

In [3]:
# General info (types, non-null counts)
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3042168 entries, 0 to 3042167
Data columns (total 28 columns):
 #   Column                                                     Dtype
---  ------                                                     -----
 0   Unnamed: 0                                                 int64
 1   timestamp                                                  object
 2   city                                                       object
 3   temperature                                                float64
 4   precipitation                                              float64
 5   wind_speed                                                 float64
 6   humidity                                                   int64
 7   country                                                    object
 8   wetbulb_temperature                                        float64
 9   climate_region                                             object
 10  Other renewables (including geothermal and biomass) - TWh  float64
 11  Biofuels consumption - TWh                                 float64
 12  Solar consumption - TWh                                    float64
 13  Wind consumption - TWh                                     float64
 14  Hydro consumption - TWh                                    float64
 15  Nuclear consumption - TWh                                  float64
 16  Gas consumption - TWh                                      float64
 17  Coal consumption - TWh                                     float64
 18  Oil consumption - TWh                                      float64
 19  Total renewables - TWh                                     float64
 20  Total fossil fuels - TWh                                   float64
 21  Total energy - TWh                                         float64
 22  Low carbon - TWh                                           float64
 23  Other - TWh                                                float64
 24  WUE_FixedApproachDirect(L/KWh)                             float64
 25  WUE_FixedColdWaterDirect(L/KWh)                            float64
 26  WUE_Indirect(L/KWh)                                        float64
 27  Leakages (%)                                               float64
dtypes: float64(22), int64(2), object(4)
memory usage: 649.9+ MB

In [4]:
# Summary statistics for numeric variables
raw_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,3042168.0,297043.907015,2.165308e+05,0.000000,121880.750000,252176.500000,4.462772e+05,8.783990e+05
temperature,3042168.0,23.976088,6.822991e+00,-5.500000,19.800000,24.200000,2.810000e+01,4.930000e+01
precipitation,3042168.0,0.131713,6.957367e-01,0.000000,0.000000,0.000000,0.000000e+00,1.037000e+02
wind_speed,3042168.0,11.858958,7.487500e+00,0.000000,6.100000,10.300000,1.620000e+01,6.480000e+01
humidity,3042168.0,57.336524,2.668910e+01,2.000000,35.000000,62.000000,8.000000e+01,1.000000e+02
wetbulb_temperature,3042168.0,63.381826,9.841182e+00,18.071341,56.344064,64.635844,7.174337e+01,9.199650e+01
Other renewables (including geothermal and biomass) - TWh,3042168.0,0.000017,7.131780e-05,0.000000,0.000000,0.000000,9.959933e-07,4.140322e-04
Biofuels consumption - TWh,3042168.0,0.000015,7.012075e-05,0.000000,0.000000,0.000000,9.959933e-07,4.140322e-04
Solar consumption - TWh,3042168.0,5531.175874,1.425453e+04,0.000000,199.198652,597.595957,2.788781e+03,6.442084e+04
Wind consumption - TWh,3042168.0,7733.492389,2.049193e+04,0.000000,0.000000,0.000000,1.124887e+03,8.496847e+04
Hydro consumption - TWh,3042168.0,42005.477933,7.724447e+04,0.000000,0.000000,5956.552207,3.983973e+04,3.404305e+05
Nuclear consumption - TWh,3042168.0,2980.323016,1.596226e+04,0.000000,0.000000,0.000000,0.000000e+00,8.847232e+04
Gas consumption - TWh,3042168.0,403476.126207,1.421299e+06,0.000000,0.000000,0.000000,4.063653e+04,7.241771e+06
Coal consumption - TWh,3042168.0,310215.998468,1.483460e+06,0.000000,0.000000,0.000000,5.975960e+02,8.221263e+06
Oil consumption - TWh,3042168.0,347958.656183,1.024247e+06,0.000000,0.000000,0.000000,0.000000e+00,5.082300e+06
Total renewables - TWh,3042168.0,57846.162581,9.113539e+04,87.596356,1792.787871,8195.601694,8.639530e+04,3.448129e+05
Total fossil fuels - TWh,3042168.0,208233.127030,4.973835e+05,0.000000,3585.575741,16493.648409,1.603948e+05,2.300983e+06
Total energy - TWh,3042168.0,276340.954074,5.591728e+05,2561.125529,13287.721864,45417.292720,2.726875e+05,2.590100e+06
Low carbon - TWh,3042168.0,60826.485596,9.606817e+04,87.596356,1792.787871,8195.601694,8.639530e+04,3.448129e+05
Other - TWh,3042168.0,1327.866690,7.111899e+03,0.000000,0.000000,0.000000,0.000000e+00,3.941836e+04
WUE_FixedApproachDirect(L/KWh),3042168.0,1.625833,8.176929e-02,0.941590,1.586134,1.652570,1.688765e+00,1.707257e+00
WUE_FixedColdWaterDirect(L/KWh),3042168.0,1.332448,1.327831e-01,1.173174,1.207874,1.304504,1.444016e+00,2.130202e+00
WUE_Indirect(L/KWh),3042168.0,3.268346,1.572938e+00,0.001000,1.850851,3.235424,4.955351e+00,5.337428e+00
Leakages (%),3042168.0,0.355044,8.870722e-02,0.170000,0.258000,0.397200,3.972000e-01,5.500000e-01

In [17]:
# Show the number of rows / columns
raw_df.shape

(3042168, 28)

In [5]:
# List unique countries
sorted(raw_df["country"].unique())

['Algeria',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cameroon',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Egypt',
 'Equatorial Guinea',
 'Eritrea',
 'Ethiopia',
 'Gabon',
 'Ghana',
 'Guinea',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Sudan',
 'Tanzania',
 'Togo',
 'Tunisia',
 'Uganda',
 'Zambia',
 'Zimbabwe']

In [7]:
# List climate regions
sorted(raw_df["climate_region"].unique())

['Desert', 'Mediterranean', 'Rainforest', 'Savana', 'Steppe']

In [8]:
# Count missing values per column
raw_df.isna().sum().sort_values(ascending=False)

Unnamed: 0                                                   0
timestamp                                                    0
WUE_Indirect(L/KWh)                                          0
WUE_FixedColdWaterDirect(L/KWh)                              0
WUE_FixedApproachDirect(L/KWh)                               0
Other - TWh                                                  0
Low carbon - TWh                                             0
Total energy - TWh                                           0
Total fossil fuels - TWh                                     0
Total renewables - TWh                                       0
Oil consumption - TWh                                        0
Coal consumption - TWh                                       0
Gas consumption - TWh                                        0
Nuclear consumption - TWh                                    0
Hydro consumption - TWh                                      0
Wind consumption - TWh                                       0
Solar consumption - TWh                                      0
Biofuels consumption - TWh                                   0
Other renewables (including geothermal and biomass) - TWh    0
climate_region                                               0
wetbulb_temperature                                          0
country                                                      0
humidity                                                     0
wind_speed                                                   0
precipitation                                                0
temperature                                                  0
city                                                         0
Leakages (%)                                                 0
dtype: int64

### 3. Convert timestamp, extract date components, recompute columns

In [ ]:
raw_df["timestamp"] = pd.to_datetime(raw_df["timestamp"])
raw_df["year"] = raw_df["timestamp"].dt.year
raw_df["month"] = raw_df["timestamp"].dt.month

# Recalculation of energy totals to correct inconsistencies: 
raw_df["Total fossil fuels - TWh"] = (
    raw_df["Coal consumption - TWh"] + 
    raw_df["Gas consumption - TWh"] + 
    raw_df["Oil consumption - TWh"]
)

raw_df["Total renewables - TWh"] = (
    raw_df["Solar consumption - TWh"] + 
    raw_df["Hydro consumption - TWh"] + 
    raw_df["Wind consumption - TWh"] + 
    raw_df["Biofuels consumption - TWh"] + 
    raw_df["Other renewables (including geothermal and biomass) - TWh"]
)

raw_df["Total energy - TWh"] = (
    raw_df["Total fossil fuels - TWh"] + 
    raw_df["Total renewables - TWh"] + 
    raw_df["Nuclear consumption - TWh"] + 
    raw_df["Other - TWh"]
)

raw_df

,Unnamed: 0,timestamp,city,temperature,precipitation,wind_speed,humidity,country,wetbulb_temperature,climate_region,...,Total fossil fuels - TWh,Total energy - TWh,Low carbon - TWh,Other - TWh,WUE_FixedApproachDirect(L/KWh),WUE_FixedColdWaterDirect(L/KWh),WUE_Indirect(L/KWh),Leakages (%),year,month
0,0,2022-08-20 00:00:00,Yaoundé,19.7,0.0,6.8,98,Cameroon,67.032045,Desert,...,4.063653e+04,1.263489e+05,86395.301188,0.000000,1.666913,1.344436,4.070095,0.5250,2022,8
1,158112,2022-08-20 00:00:00,Nouakchott,26.2,0.9,12.6,81,Mauritania,74.523261,Steppe,...,0.000000e+00,3.585576e+03,3585.575741,0.000000,1.697710,1.513311,3.237921,0.3972,2022,8
2,149328,2022-08-20 00:00:00,Barentu,25.1,0.0,12.6,73,Eritrea,70.618841,Steppe,...,0.000000e+00,9.959933e+01,99.599326,0.000000,1.684314,1.418134,3.788000,0.3972,2022,8
3,140544,2022-08-20 00:00:00,Mendefera,16.5,0.4,11.9,82,Eritrea,57.920598,Steppe,...,0.000000e+00,9.959933e+01,99.599326,0.000000,1.600773,1.216367,3.788000,0.3972,2022,8
4,131760,2022-08-20 00:00:00,Assab,32.0,0.0,14.5,62,Eritrea,79.044228,Steppe,...,0.000000e+00,9.959933e+01,99.599326,0.000000,1.706000,1.642989,3.788000,0.3972,2022,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042163,14639,2024-08-04 23:00:00,Tangier,22.9,0.0,6.8,70,Morocco,66.169931,Savana,...,2.175945e+06,2.241554e+06,65960.056062,0.000000,1.662003,1.328683,1.606216,0.3972,2024,8
3042164,11711,2024-08-04 23:00:00,Fes,28.3,0.0,6.8,24,Morocco,60.330565,Savana,...,2.175945e+06,2.241554e+06,65960.056062,0.000000,1.621329,1.241985,1.606216,0.3972,2024,8
3042165,8783,2024-08-04 23:00:00,Marrakech,28.6,0.0,2.9,24,Morocco,60.715561,Savana,...,2.175945e+06,2.241554e+06,65960.056062,0.000000,1.624409,1.246628,1.606216,0.3972,2024,8
3042166,2927,2024-08-04 23:00:00,Casablanca,22.5,0.0,4.7,77,Morocco,67.167116,Savana,...,2.175945e+06,2.241554e+06,65960.056062,0.000000,1.667657,1.346973,1.606216,0.3972,2024,8
3042167,73175,2024-08-04 23:00:00,Port Elizabeth,11.7,0.0,34.2,63,South Africa,46.129720,Mediterranean,...,1.118133e+07,1.147566e+07,258494.218641,39418.360196,1.468455,1.176626,1.850851,0.2220,2024,8

### 4. Create lightweight datasets (per country per year, and per country per month)

In [4]:
# Columns that do not change within each country-year
energy_cols = [
    "Total energy - TWh",
    "Total renewables - TWh",
    "Total fossil fuels - TWh",
    "Coal consumption - TWh",
    "Gas consumption - TWh",
    "Oil consumption - TWh",
    "Nuclear consumption - TWh",
    "Solar consumption - TWh",
    "Hydro consumption - TWh",
    "Wind consumption - TWh",
    "Biofuels consumption - TWh",
    "Low carbon - TWh",
    "Other renewables (including geothermal and biomass) - TWh",
    "Other - TWh",
]

# Weather / water efficiency columns to average
metric_cols = [
    "temperature",
    "humidity",
    "wind_speed",
    "wetbulb_temperature",
    "WUE_FixedApproachDirect(L/KWh)",
    "WUE_FixedColdWaterDirect(L/KWh)",
    "WUE_Indirect(L/KWh)",
    "Leakages (%)",
]

rain_col = [
    "precipitation"
]

In [6]:
group_cols = ["city", "country", "year", "month"]

city_month_df = raw_df.groupby(group_cols).agg(
    {col: "mean" for col in metric_cols} |
    {col: "sum" for col in rain_col} |
    {col: "mean" for col in energy_cols} |
    {"climate_region": "first"}
).reset_index()


country_year_df = city_month_df.groupby(["country"]).agg(
    {col: "mean" for col in metric_cols} |
    {col: "mean" for col in rain_col} |
    {col: "mean" for col in energy_cols} |
    {"climate_region": lambda x: x.mode()[0] if not x.empty else None}
).reset_index()

country_year_df["Pct renewables"] = 100*country_year_df["Total renewables - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct fossil fuels"] = 100*country_year_df["Total fossil fuels - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Coal consumption"] = 100*country_year_df["Coal consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Gas consumption"] = 100*country_year_df["Gas consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Oil consumption"] = 100*country_year_df["Oil consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Nuclear consumption"] = 100*country_year_df["Nuclear consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Solar consumption"] = 100*country_year_df["Solar consumption - TWh"]/country_year_df["Total energy - TWh"]

country_year_df["Pct Hydro consumption"] = 100*country_year_df["Hydro consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Wind consumption"] = 100*country_year_df["Wind consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Biofuels consumption"] = 100*country_year_df["Biofuels consumption - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Low carbon"] = 100*country_year_df["Low carbon - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Other renewables"] = 100*country_year_df["Other - TWh"]/country_year_df["Total energy - TWh"]
country_year_df["Pct Other"] = 100*country_year_df["Other renewables (including geothermal and biomass) - TWh"]/country_year_df["Total energy - TWh"]

#country_year_df.to_csv("../data/exported/country_year_cleaned.csv", index=False)
country_year_df[["country", "precipitation"]].head(50)

                     country  precipitation
0                    Algeria      31.606895
1                      Benin     142.466923
2                   Botswana      39.080769
3               Burkina Faso      82.547051
4                    Burundi     130.007949
5                   Cameroon     187.267143
6                 Cape Verde      15.840769
7   Central African Republic     117.888132
8                       Chad      87.565000
9                      Egypt       2.551154
10         Equatorial Guinea     255.428132
11                   Eritrea      82.022051
12                  Ethiopia     143.867769
13                     Gabon     196.510769
14                     Ghana     137.341648
15                    Guinea     259.037692
16                     Kenya     108.510000
17                   Lesotho     171.858205
18                   Liberia     276.951758
19                     Libya       7.820785
20                Madagascar     153.189231
21                    Malawi     110.533718
22                      Mali      73.013974
23                Mauritania      26.371868
24                   Morocco      16.868718
25                Mozambique      98.450256
26                   Namibia      27.012615
27                     Niger      56.589231
28                   Nigeria     162.897692
29                   Senegal      70.172051
30                Seychelles     122.250000
31              Sierra Leone     312.156593
32                   Somalia      69.432308
33              South Africa      44.804897
34               South Sudan      69.737692
35                     Sudan      12.158000
36                  Tanzania     108.200897
37                      Togo     140.444872
38                   Tunisia      15.230942
39                    Uganda     156.380641
40                    Zambia      96.433590
41                  Zimbabwe      57.236154

In [24]:
group_cols = ["city", "country", "year", "month"]

city_month_df = raw_df.groupby(group_cols).agg(
    {col: "mean" for col in metric_cols} |
    {col: "sum" for col in energy_cols} |
    {"climate_region": "first"}
).reset_index()


country_month_df = city_month_df.groupby(["country", "year", "month"]).agg(
    {col: "mean" for col in metric_cols} |
    {col: "mean" for col in energy_cols} |
    {"climate_region": lambda x: x.mode()[0] if not x.empty else None}
).reset_index()


country_month_df["Pct renewables"] = 100*country_month_df["Total renewables - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct fossil fuels"] = 100*country_month_df["Total fossil fuels - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Coal consumption"] = 100*country_month_df["Coal consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Gas consumption"] = 100*country_month_df["Gas consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Oil consumption"] = 100*country_month_df["Oil consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Nuclear consumption"] = 100*country_month_df["Nuclear consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Solar consumption"] = 100*country_month_df["Solar consumption - TWh"]/country_month_df["Total energy - TWh"]

country_month_df["Pct Hydro consumption"] = 100*country_month_df["Hydro consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Wind consumption"] = 100*country_month_df["Wind consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Biofuels consumption"] = 100*country_month_df["Biofuels consumption - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Low carbon"] = 100*country_month_df["Low carbon - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Other renewables"] = 100*country_month_df["Other - TWh"]/country_month_df["Total energy - TWh"]
country_month_df["Pct Other"] = 100*country_month_df["Other renewables (including geothermal and biomass) - TWh"]/country_month_df["Total energy - TWh"]


#country_month_df.to_csv("../data/exported/country_month_cleaned.csv", index=False)
country_month_df.head(20)

,country,year,month,temperature,humidity,wind_speed,wetbulb_temperature,WUE_FixedApproachDirect(L/KWh),WUE_FixedColdWaterDirect(L/KWh),WUE_Indirect(L/KWh),...,Pct Gas consumption,Pct Oil consumption,Pct Nuclear consumption,Pct Solar consumption,Pct Hydro consumption,Pct Wind consumption,Pct Biofuels consumption,Pct Low carbon,Pct Other renewables,Pct Other
0,Algeria,2022,8,27.477951,45.825000,9.219479,66.174081,1.655349,1.346765,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
1,Algeria,2022,9,25.527083,51.278333,10.410056,64.770231,1.646814,1.322567,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
2,Algeria,2022,10,22.300954,47.443683,7.919207,58.941823,1.601366,1.249112,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
3,Algeria,2022,11,16.014597,59.010972,12.111986,52.015701,1.532359,1.202260,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
4,Algeria,2022,12,13.930040,58.589113,10.010067,48.786061,1.493769,1.197700,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
5,Algeria,2023,1,9.229906,68.168548,10.900565,42.718058,1.410525,1.218091,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
6,Algeria,2023,2,10.101994,65.171875,9.390030,43.645305,1.425305,1.209424,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
7,Algeria,2023,3,14.132755,61.461425,10.282594,49.362350,1.499703,1.201082,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
8,Algeria,2023,4,16.434083,54.112500,10.366708,51.274945,1.522504,1.203921,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
9,Algeria,2023,5,17.533642,66.295565,10.655524,55.841388,1.575577,1.214384,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
10,Algeria,2023,6,23.661889,56.196250,9.228361,63.070345,1.636211,1.293994,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
11,Algeria,2023,7,30.195081,39.031048,9.673911,67.077281,1.659622,1.365614,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
12,Algeria,2023,8,27.600165,43.667629,9.256180,65.486781,1.652416,1.331560,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
13,Algeria,2023,9,24.932833,55.922500,9.990583,65.218705,1.652272,1.322934,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
14,Algeria,2023,10,22.318000,54.365000,9.669083,60.787609,1.620658,1.259163,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
15,Algeria,2023,11,16.966667,60.268333,11.223833,53.780802,1.556581,1.196308,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
16,Algeria,2023,12,12.957500,66.323333,11.240917,48.668233,1.497393,1.183968,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
17,Algeria,2024,1,13.282955,60.072727,9.289879,47.912754,1.486450,1.188067,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
18,Algeria,2024,2,12.871667,67.197222,12.469352,48.611524,1.495419,1.187384,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12
19,Algeria,2024,3,14.932955,62.446212,13.730227,50.897728,1.522012,1.192562,1.413949,...,68.666,30.944581,0.0,0.090029,0.001364,0.001364,5.690144e-12,0.092757,0.0,5.690144e-12

### 5. Compute climate-region summaries

In [13]:
climate_df = country_year_df.groupby("climate_region").agg({
    "WUE_FixedApproachDirect(L/KWh)": "mean",
    "WUE_FixedColdWaterDirect(L/KWh)": "mean",
    "WUE_Indirect(L/KWh)": "mean",
    "Leakages (%)": "mean",
}).reset_index()

climate_df.to_csv("../data/exported/climate_summary.csv", index=False)
climate_df

,climate_region,WUE_FixedApproachDirect(L/KWh),WUE_FixedColdWaterDirect(L/KWh),WUE_Indirect(L/KWh),Leakages (%)
0,Desert,1.661052,1.397536,3.296603,0.418211
1,Mediterranean,1.568349,1.244539,1.632400,0.309600
2,Rainforest,1.691373,1.475770,3.301323,0.397200
3,Savana,1.630510,1.322725,3.371680,0.333891
4,Steppe,1.610349,1.316001,3.846037,0.353400